@font-face {
  font-family: 'mamelon3.5';
  src: url('./assets/fonts/Mamelon-3.5HiRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'mamelon3.5', sans-serif;
  box-sizing: border-box;
}
html, body {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  font-size: clamp(0.875rem, 0.7rem + 0.5vw, 1.25rem);
}
button {
  border: none;
  padding: .7rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: all 0.3s ease-in-out;
}
button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  z-index: 1;
  transition: top 0.5s ease-in-out;
}
#modal-input {
  top: 0;
  background-color: #ee817b;
}
#modal-input.showOutput {
  top: -100%;
}
#modal-output {
  top: 100%;
  background-color: #fcecea;
}
#modal-output.showOutput {
  top: 0;
}

/* input modal */
.modal h2 {
  position: absolute;
  top: 20%;
  color: #fcecea
}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 60%;
  margin-bottom: 20px;
  padding: 8px;
}
.input-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fcecea;
  border-radius: 2px;
}
input[type="text"] {
  flex: 1;
  min-width: 0;
  border: none;
  background-color: #ee817b;
  color: #fcecea;
  outline: none;
  box-sizing: border-box;
}
.label-generator {
  flex-shrink: 0;
  color: #fcecea;
}
.ok-button {
  background-color: #fcecea;
  color: #ee817b;
}

/* main modal */
.top-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px 20px;
  color: #fcecea;
  background-color: #ee817b;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}
.top-bar-icon {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.top-bar-text {
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#title {
  position: relative;
  width: 100%;
  height: 3em;
  font-size: 1.5em;
  color: #fcecea;
  background-color: #928484;
}
#title p {
  position: absolute;
  line-height: 3em;
  left: 15%;
}
.advice-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 40px auto;
  border: 1px solid #928484;
  border-radius: 10px;
  text-align: center;
}
.advice-container #advice-text {
  color: #928484;
}
.advice-container #advice-text.active {
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.generate-button {
  width: 10rem;
  height: 3.75rem;
  margin: 0 auto 50px;
  font-size: 1.1rem;
  color: #fcecea;
  background-color: #928484;
  border-radius: 10px;
}

.image {
  position: absolute;
  width: 7rem;
  height: 7rem;
  mask-image: url("./assets/images/cloud.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("./assets/images/cloud.png");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  z-index: 1;
}
#i1, #i2, #i3 {
  background-color: #ee817b;
}
#m1, #m2 {
  background-color: #fcecea;
}
#i1 {
  top: 15%;
  left: 60%;
}
#i2 {
  top: 50%;
  left: 10%;
}
#i3 {
  top: 80%;
  left: 90%;
}
#m1 {
  top: 15%;
  right: 10%;
}
#m2 {
  top: 65%;
  left: 20%;
}