@font-face {
  font-family: 'mamelon3.5';
  src: url('./assets/fonts/Mamelon-3.5HiRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'mamelon3.5', sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: all 0.3s ease-in-out;
}
button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}


.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transition: top 0.5s ease-in-out;
}
#modal-input {
  top: 0;
  background-color: #ee817b;
}
#modal-input.showOutput {
  top: -100%;
}
#modal-output {
  top: 100%;
  background-color: #fcecea;
}
#modal-output.showOutput {
  top: 0;
}

/* input modal */
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 8px;
}
.input-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fcecea;
  border-radius: 2px;
}
input[type="text"] {
  flex: 1;
  min-width: 0;
  border: none;
  background-color: #ee817b;
  color: #fcecea;
  outline: none;
  box-sizing: border-box;
}
.label-generator {
  flex-shrink: 0;
  color: #fcecea;
}
.ok-button {
  background-color: #fcecea;
  color: #ee817b;
}

/* main modal */
.top-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px 20px;
  color: #fcecea;
  background-color: #ee817b;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}
.top-bar-icon {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.top-bar-text {
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#title {
  position: relative;
  width: 100%;
  height: 3em;
  font-size: 1.5em;
  color: #fcecea;
  background-color: #928484;
}
#title p {
  position: absolute;
  line-height: 3em;
  left: 15%;
}
.advice-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 40px auto;
  border: 1px solid #928484;
  border-radius: 10px;
  text-align: center;
}
.advice-container #advice-text {
  color: #928484;
}
.advice-container #advice-text.active {
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.generate-button {
  width: 160px;
  height: 60px;
  margin: 0 auto 50px;
  font-size: 1.1rem;
  color: #fcecea;
  background-color: #928484;
  border-radius: 10px;
}


.image {
  width: fit-content;
}
.image img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    z-index: 1;
}
@media (min-width: 700px) {
    .image img {
        width: 120px;
        height: 120px;
    }
}
@media (min-width: 800px) {
    .image img {
        width: 140px;
        height: 140px;
    }
}
#i1 {
    position: absolute;
    top: 15%;
    left: 60%;
}
#i2 {
    position: absolute;
    top: 50%;
    left: 10%;
}
#i3 {
    position: absolute;
    top: 80%;
    left: 90%;
}
#m1 {
  position: absolute;
  top: 15%;
  right: 10%;
}
#m2 {
  position: absolute;
  top: 65%;
  left: 20%;
}
.modal h2 {
  position: absolute;
  top: 20%;
  color: #fcecea
}
.input-container {
  position: relative;
  width: 60%;
  margin-bottom: 20px;
}